requests
pyttsx3
vosk
sounddevice
numpy
llama-cpp-python
# Additional voice engines
#python-espeak
#pico2wave
TTS
silero
torch
aiohttp
psutil
websocket-client
wmi; sys_platform == 'win32'  # Windows-specific module